/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2019, 1:02:00 PM
    Author     : UpSkills
*/

body{
    background: blue;
}
#billdesc{
    padding-top: 50px

}
#test{

    width: 100%;
    height: 30px;
}
option{
    height: 30px ;
    line-height: 30px;
    
}
.editOption {
    width: 90%;
    height: 24px;
    position: relative;
    top: -30px;
    
}